.about-section {
  height: auto;
  padding-top: 6rem;
  background: linear-gradient(to bottom, $purple 0%,#{fade-out($purple, .1)} 75%,#{fade-out($purple, .2)} 100%);
  p {
    margin-bottom: 5rem;
  }

  @media (min-width: 992px) {
    height: 95vh;
    padding: 10rem;
    margin: 0;
    img {
      width: 100%;    
    }
  }
}