.about-section {
  height: 100vh;
  padding-top: 6rem;
  background: linear-gradient(to bottom, $purple 0%,#{fade-out($purple, .1)} 75%,#{fade-out($purple, .2)} 100%);
  p {
    margin-bottom: 5rem;
  }

  @media (min-width: 768px) {
    height: 60vh;
    margin-top: 15%;
    width: 80%; 
}

  @media (min-width: 992px) {
    height: 95vh;
    padding: 10rem;
    margin: 0;
  }
  

}
