.contact-section {
  height: 70vh;
  padding-top: 7rem;
  background: linear-gradient(0deg, rgba(25, 135, 131, 0.87) 0%, #8aeae5 100%), url('../images/bg-06.png');
  
  
  @media (min-width: 992px) {
    height: 70vh;
    padding: 10rem;
    margin: 0;
   
  }

  }

 