.masthead {
 
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 1rem 0; //15rem
  background: url('../images/art.jpg') no-repeat center center fixed;
  background-attachment: scroll;
  

  @media (min-width: 500px) {
    img{
      margin-top: 28%;
    }
  }
  @media (min-width: 768px) {
    img {
      margin-top: 15%;
      width: 80%;
    }
  }
  @media (min-width: 992px) {
    height: 95vh;
    padding: 0;
    margin: 0;
    img {
      width: 100%;    
    }
  }

  // Animation code below

  .text {
    align-self: flex-end;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
/*         transform-origin: top; */
  }
 .floating {
    animation-name: floating;
    animation-timing-function: linear;
 }
@keyframes floating {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

}
