#mainNav {
  min-height: 56px;
  color: #fff;
  background-color: fade-out($black, .15);
  .navbar-toggler {
      font-size: 90%;
      padding: 0.75rem;
      border: 1px solid #fff;
      &:focus {
        outline: none;
      }  
  }

  .navbar-brand {
    color: fade-out($white, .15);
    &:hover {
      color: $yellow;
    }
    font-weight: 700;
    padding: .9rem 0;
  }
  .navbar-nav {
    .nav-link {
      color: $white; 
      &:hover {
        color: $yellow;
        outline: none;
        background-color: transparent;
      }
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    .navbar-brand {
      padding: .5rem 0;
      color: fade-out($black, .15);
      &:hover{ 
        color: fade-out($white, .5);
      }
    }
    .nav-link {
      transition: none;
      padding: 2rem 1.5rem;
      color: fade-out($white, .25);
      &:hover {
        color: fade-out($black, .15);
      } 
    }

    &.navbar-shrink {
      background-color: fade-out($black, .15); //Find Navbar color $white
      .navbar-brand {
        color: fade-out($white, .15);
        &:hover {
          color: $yellow; //primary this is for nav bar words
        }   
      }
      .nav-link {
        color: $white; 
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
        &:hover {
          color: $yellow; 
        }   
      }
    }
  }
}
