.products-section {
  background-image: url('../images/bg-07.png');
  padding: 0;
  margin: 0;
  height: auto;
  font-size: 1.75em;
  font-family: Source Sans Pro, serif;

  @media (min-width: 300px){
    padding:0;
    margin:0;
    
    .container{
      display: flex;
      width: 100vw;
      padding-top: 20%;
      padding-bottom: 20%;
    }
    .row{
      width:100%;
      padding: 0;
      margin: 0;
      
    }
    .col{
      width: 100%;
      display: flex;
      padding: 2%;
      padding-bottom: 12%;
    }
    .card{
      width: 85vw;
    }
    .card-text {
      font-size: 85%;
    }
    .card-title{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 93%;
    }
  }
  @media (min-width: 768px){
    .container{
      width: 100vw;
      font-size: 40px;
      padding: 8% 0 8% 0;
    }    
    .col{
      display: flex;
      justify-content: center;
    }
     .card{
      width: 60vw;
    }
  }

  @media (min-width: 992px) {

    div> .col {
      padding: 0 0 0 2rem;
    border: 0.5rem solid $yellow;

    }
    
  }

}
  

      
  

