// Variables

$white: #fff !default;
$black: #000 !default;
$purple: #56328A !default;
$teal: #56B7B3 !default;
$yellow: #E9FF7B !default;

$gray-100: #585858 !default;
$gray-200: #262626 !default;
$gray-300: #343434 !default;
//#2AA39F